<%= semantic_form_for(training) do |f| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
  <%= f.input :kind %>
  <%= f.input :date, as: :date_select %>
  <%= f.input :description %>
  <%= f.input :duration_hh_mm_ss, label: 'Duration' %>
  <%= f.input :distance_m %>
  <%= f.input :max_pulse_bpm %>
  <%= f.input :avg_pulse_bpm %>
  <%= f.input :energy_kcal %>
  <%= f.input :intensity %>
  <%= f.input :altid %>
  <%= f.input :route_id %>
  <%= f.input :person_id %>
  <% end %>

  <div id="intervals">
    <h2>Intervals</h2>
    <%= f.semantic_fields_for :intervals do |interval| %>
      <%= render 'interval_fields', f: interval %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add interval', f, :intervals %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
