<%= semantic_form_for(training) do |f| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration_hh_mm_ss %>
  </div>

  <div class="field">
    <%= f.label :distance_m %>
    <%= f.number_field :distance_m %>
  </div>

  <div class="field">
    <%= f.label :max_pulse_bpm %>
    <%= f.number_field :max_pulse_bpm %>
  </div>

  <div class="field">
    <%= f.label :avg_pulse_bpm %>
    <%= f.number_field :avg_pulse_bpm %>
  </div>

  <div class="field">
    <%= f.label :energy_kcal %>
    <%= f.number_field :energy_kcal %>
  </div>

  <div class="field">
    <%= f.label :intensity %>
    <%= f.number_field :intensity %>
  </div>

  <div class="field">
    <%= f.label :altid %>
    <%= f.number_field :altid %>
  </div>

  <div class="field">
    <%= f.label :route_id %>
    <%= f.number_field :route_id %>
  </div>

  <div class="field">
    <%= f.label :person_id %>
    <%= f.text_field :person_id %>
  </div>

  <div id="intervals">
    <h2>Intervals</h2>
    <%= f.semantic_fields_for :intervals do |interval| %>
      <%= render 'interval_fields', f: interval %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add interval', f, :intervals %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
