<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :duration_hh_mm_ss, label: 'Duration' %>
    <%= f.input :distance_m %>
    <%= f.input :comment, :input_html => { :rows => 1 } %>
  <% end %>

  <%= link_to_remove_association "Remove interval", f %>
</div>
<hr />
