<p id="notice"><%= notice %></p>

<h1>Träningspass</h1>

<% @trainings.each do |training| %>
<p>
  <%= link_to "%s %s" % [training.date_yyyy_mm_dd, training.kind], training %>
  <%= training.duration_hh_mm_ss %>
  <%= training.distance_km %>

  <% if not training.description.nil? %>
  <br />
  <%= training.description %>
  <% end %>

  <% if not training.route_id.nil? %>
  <br />
  <%= link_to training.route.name, training.route %>
  <% end %>
</p>
<% end %>

<%= link_to 'New Training', new_training_path %>
