<p id="notice"><%= notice %></p>

<p>
  <%= @training.date_yyyy_mm_dd %>
  <%= @training.kind %>
  <%= @training.duration_hh_mm_ss %>
  <%= @training.distance_km %>

  <% if not @training.description.nil? %>
  <br />
  <%= @training.description %>
  <% end %>

  <% if not @training.route_id.nil? %>
  <br />
  <%= link_to @training.route.name, @training.route %>
  <% end %>

  <% if not @training.max_pulse_bpm.nil? %>
  <br />
  Maxpuls: <%= @training.max_pulse_bpm %> slag/min
  <% end %>

  <% if not @training.avg_pulse_bpm.nil? %>
  <br />
  Medelpuls: <%= @training.avg_pulse_bpm %> slag/min
  <% end %>

  <% if not @training.energy_kcal.nil? %>
  <br />
  Energiförbrukning: <%= @training.energy_kcal %> kcal
  <% end %>

  <% if not @training.intensity.nil? %>
  <br />
  Intensitet: <%= @training.intensity %>
  <% end %>

  <% if @training.intervals.size > 0 %>
  <br />
</p>
<p>
  Intervaller
  <br />
  <table>
    <tr>
      <th>Tid</th>
      <th>Sträcka</th>
      <th>Tempo</th>
      <th>Hastighet</th>
      <th>Kommentar</th>
    </tr>
    <% @training.intervals.order(:ix).each do |interval| %>
    <tr>
      <th><%= interval.duration_hh_mm_ss %></th>
      <th><%= interval.distance_km %></th>
      <th><%= interval.pace_min_km %></th>
      <th><%= interval.speed_km_h %></th>
      <th><%= interval.comment %></th>
    </tr>
    <% end %>
  </table>
  <% end %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
