<%= form_for(interval) do |f| %>
  <% if interval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interval.errors.count, "error") %> prohibited this interval from being saved:</h2>

      <ul>
      <% interval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :duration_s %>
    <%= f.number_field :duration_s %>
  </div>

  <div class="field">
    <%= f.label :distance_m %>
    <%= f.number_field :distance_m %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :ix %>
    <%= f.number_field :ix %>
  </div>

  <div class="field">
    <%= f.label :training_id %>
    <%= f.text_field :training_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
