<p id="notice"><%= notice %></p>

<h1>Intervals</h1>

<table>
  <thead>
    <tr>
      <th>Duration s</th>
      <th>Distance m</th>
      <th>Comment</th>
      <th>Ix</th>
      <th>Training</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intervals.each do |interval| %>
      <tr>
        <td><%= interval.duration_s %></td>
        <td><%= interval.distance_m %></td>
        <td><%= interval.comment %></td>
        <td><%= interval.ix %></td>
        <td><%= interval.training %></td>
        <td><%= link_to 'Show', interval %></td>
        <td><%= link_to 'Edit', edit_interval_path(interval) %></td>
        <td><%= link_to 'Destroy', interval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interval', new_interval_path %>
