<p id="notice"><%= notice %></p>

<h1>Route Points</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Ix</th>
      <th>Route</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @route_points.each do |route_point| %>
      <tr>
        <td><%= route_point.latitude %></td>
        <td><%= route_point.longitude %></td>
        <td><%= route_point.ix %></td>
        <td><%= route_point.route %></td>
        <td><%= link_to 'Show', route_point %></td>
        <td><%= link_to 'Edit', edit_route_point_path(route_point) %></td>
        <td><%= link_to 'Destroy', route_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route Point', new_route_point_path %>
