<!DOCTYPE html>
<html>
  <head>
    <title><%= ("TrainingLog" + (" - " unless yield(:title).blank?).to_s) + yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'Index' %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
      />
  </head>

  <body>
    <ul class="hmenu">
      <% if (not current_user.nil?) and (current_user.people.size > 0) %>
      <li>
        <%= link_to "Overview", "/people/" + current_user.people[0].id.to_s %>
      </li>
      <li>
        <%= link_to "New training", "/trainings/new" %>
      </li>
      <li>
        <%= link_to "Uploaded files", "/rawfiles" %>
      </li>
      <li>
        <%= link_to "Upload file", "/rawfiles/new" %>
      </li>
      <li>
        <%= link_to "Routes", "/routes" %>
      </li>
      <% end %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
