<!DOCTYPE html>
<html>
  <head>
    <title><%= ("TrainingLog" + (" - " unless yield(:title).blank?).to_s) + yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="hmenu">
      <%= link_to "Overview", root_path %>
      <%= link_to "New training", new_training_path %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
